<!DOCTYPE html>
<link rel="stylesheet" href="static/style.css" />

<html>
  <head>
    <title>Personality Prediction</title>
  </head>
  <body>
    <div class="navbar">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('personalities') }}">Personalities</a>
      <a href="{{ url_for('data') }}">Data</a>
    </div>
    <img src="static/16.jpg" alt="Myers-Briggs" />

    <h2>Introduction to Myers-Briggs</h2>
    <p>
      The Myers-Briggs Type Indicator (MBTI) is a personality assessment
      developed by Katharine Cook Briggs and her daughter Isabel Briggs Myers.
      The MBTI is designed to categorize individuals into one of 16 personality
      types based on their preferences in four dichotomies: Extraversion (E) vs.
      Introversion (I), Sensing (S) vs. Intuition (N), Thinking (T) vs. Feeling
      (F), and Judging (J) vs. Perceiving (P). Feel free to describe yourself
      below for evaluation.
    </p>

    <form method="post" action="/predict">
      <textarea
        name="user_input"
        rows="4"
        cols="50"
        placeholder="Tell me about yourself"
      ></textarea
      ><br />
      <input type="submit" value="Predict" />
    </form>
  </body>
</html>
